.first-step-modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.v-mark {
  display: flex;
  margin: auto 0 auto 450px;
}

.line-marigin {
  margin: 80px;
}

.first-in-row {
  margin-right: 50px;
}

.add-question-button {
  margin-top: 30px;
}
